*, *::before, *::after {
  box-sizing: border-box;
}

header {
  display:flex;
}

.header {
  display:flex;
  width: 50%;
}

#timerDisplay {
  justify-content: flex-end;
}

#intro-container {
  display:flex;
  justify-content: center;
}

.intro {
text-align: center;
width: 40%;
justify-content: center;
}

.container {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.header-btn {
  border:none;
  background-color: white;
}

.btn-grid {
  display:grid;
  grid-template-columns: repeat(auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  background-color: rgb(126, 10, 126);
  color: white;
  padding: 6px 20px;
  border-radius: 8px;
  outline:none;
}


.btn:hover {
  background-color: rgb(155, 102, 197)
}

.hide {
  display:none !important;
}

.warning {
  color: red;
}